{% extends 'generic/object_list.html' %}
{% load buttons %}

{% block extra_controls %}
{% if permissions.add %}
    {% add_button 'plugins:netbox_example_plugin:add_animal' %}
    {% import_button 'plugins:netbox_example_plugin:import_animals' %}
    {% export_button content_type %}
{% endif %}
{% endblock %}

{% block bulk_buttons %}
{% if permissions.change %}
<button type="submit" name="_edit" formaction="
                {% url 'plugins:netbox_example_plugin:animal_bulk_edit' %}{% if request.GET %}?{{ request.GET.urlencode }}{% endif %}"
        class="btn btn-warning btn-sm">
    <span class="mdi mdi-pencil" aria-hidden="true"></span> Edit Selected
</button>
{% endif %}
{% if permissions.delete %}
<button type="submit" name="_delete" formaction="
                {% url 'plugins:netbox_example_plugin:animal_bulk_delete' %}{% if request.GET %}?{{ request.GET.urlencode }}{% endif %}"
        class="btn btn-danger btn-sm">
    <span class="mdi mdi-trash-can-outline" aria-hidden="true"></span> Delete Selected
</button>
{% endif %}
{% endblock %}
